
div.quarto-about-trestles {
  padding-top: 0 !important;
}

div.quarto-about-trestles .about-entity .about-image {
  margin-top: 1.5em;
}

@media (min-width: 992px) {
  div.quarto-about-trestles .about-contents {
    border-left: none;
  }
}
