/*-- scss:defaults --*/
$caribbean: #246A6B !default;
$mint: #CDF7F6 !default;
$eggplant: #533B4D !default;
$sand: #D2AB99 !default;
$gray: #dee2e6 !default;

$primary: $caribbean;

/*-- scss:rules --*/
strong,
b,
a {
  color: $caribbean;
}

h2,
.h2 {
  border-bottom: none;
  padding-bottom: 0;
}

.navbar {
  background-color: #fff;
  color: rgba(0, 0, 0, .6);
  border-color: #dedede;
}

a:not(.btn):hover,
a:not(.btn):hover>* {
  color: lighten($caribbean, 5);
}

.sidebar nav[role=doc-toc] {
  ul>li>a.active {
    border-left: 1px solid $caribbean;
    color: lighten($caribbean, 5) !important;
  }

  ul>li>a:hover {
    color: lighten($caribbean, 5) !important;
  }
}

/* about page */
.about-list ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.about-list ul li:not(:first-child) {
  margin-top: 0.8rem;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-style: none;
}

/* this is for orienting icons horizontally in navbar dropdown */
#navbarCollapse ul:nth-child(2) {
  flex-direction: row;
  -webkit-flex-direction: row;
}

.bib-list {
  width: 100%;
  margin: 0;
  padding-left: 0;

  .bib-year {
    margin-top: 0;

    &:not(:first-child) {
      margin-top: 1.5rem;
    }

    h3.bib-year-header {
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
      color: $eggplant;
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $gray;
    }

    .bib-block {
      margin-top: 0;

      &:not(:first-of-type) {
        margin-top: 1.5rem;
      }

      .bib-ref {
        p {
          margin: 0;
        }

        .bib-title {
          font-size: 1rem;
          font-weight: bold;
          color: $caribbean;
        }

        .bib-authors,
        .bib-details {
          font-size: 0.9rem;
          margin-top: 0.3rem;
        }

        .bib-details .bib-journal {
          font-style: italic;
        }
      }

      .bib-buttons {
        margin-top: 0.7rem;
        padding: 0.2rem 0;
      }
    }
  }

  .iconify-icon {
    color: $eggplant;
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: -0.125em
  }
}

.pkg {
  p {
    &:first-child {
      margin-bottom: 0 !important;
    }

    &:not(:first-child) {
      margin: 0.6rem 0 0 0 !important;
    }
  }

  .pkg-detail {
    color: $eggplant;
    font-weight: bold;
  }
}